* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'FFNort';
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    position: fixed;
    width: 100%;
    padding: 40px 0;

    color: white;
    transition: .5s;
}

.scrolled {
    padding: 15px 0;
    background: #2262AA;
    z-index: 4;
    transition: .5s;
}

.jcsb {
    justify-content: space-between;
}

.boreder_test {
    border: 1px solid black;
}

.box-container {
    max-width: 1350px;
    margin: 0 auto;
}


/* <header> */

header img {
    width: 70%;
}

.header_item li {
    margin-right: 30px;
}

.header_item a {
    color: white;
    transition: 1s;
}

.header_item a:hover {
    color: white;
    border-bottom: 1px solid white;
    /* transition: 1s; */
    transition: 0.3s;
}

.header_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_item ul {
    font-size: 16px;
    line-height: 21px;
}


.inline {
    display: flex;
}

.inline p {
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    margin-left: 10px;
}

.item a {
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid white;
}

.item_font-right {
    font-size: 18px;
    text-align: right;
}

/* </header> */

/* <burger menu> */

.wrapper {
    display: none;
}
.menu{
    list-style-type: none;
    /* padding-top: 200px; */
    margin: 0;
    display: none;
}
  
.menu li{
    display: inline-block;
}
  
.menu li a{
    display: none;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}
  
.menuToggle{  
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
}
  
  
.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
  
  .hamburger {
      width: 30px;
      height: 2px;
      transform: translate(-50%, -50%);
      background: white;
      transition: 0.5s;
      display: inline-block;
      margin-left: 12px;
      margin-bottom: 2px;
  }
  
.hamburger:before,
.hamburger:after {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    background: white;
    transition: 0.5s;
}

.hamburger:before {
    top: -9px;
}

.hamburger:after {
    top: 9px;
}

.icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

/* </burger menu> */


/* <block1> */

.blok1 {
    background: url(../img/bg_block1.jpg) center top / cover;
    width: 100%;
    min-height: 850px;
    color: white;
}

.bold {
    font-weight: bold;
}

.blok1__content {
    padding-top: 171px;
}

.blok1_item {
    margin-bottom: 45px;
}

.blok1_item h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
}

.blok1_item p {
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
}

.custom_btn {
    margin-left: -90px;
    width: 254px;
    min-height: 62px;
    background: #FF1709;
    /* background: radial-gradient(ellipse, #FF1709 80%, white); */
    /* background: linear-gradient(to top left, #FF1709 90%, white 100%); */
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);

    padding: 17px 10px;
 
    font-weight: bold;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    

    color: white;
    border-bottom: 4px solid #E0160A;
}

.input {
    width: 337px;
    height: 98%;
    border: 0;
    box-sizing: border-box;
    background: #F2F5F8;
    border-radius: 8px;
}

input[type=text], input[type=tel], input[type=email] {
    padding-left: 35px;
    color: #A1AFB8;

    font-size: 16px;
    line-height: 121.3%;
    letter-spacing: 0.05em;
    font-family: 'FFNort';
    font-weight: 300;
}

.input[type=tel]::placeholder,
.input[type=text]::placeholder,
textarea::placeholder {
    color: #A1AFB8;
}

.forma_min {
    width: 100%;
    display: flex;
    align-items: center;
}

.box-info {
    position: relative;
    color: #4F5D66;

    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 30px; */
    padding: 10px;

    width: 27%;
    min-height: max-content;
    
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 121, 175, 0.15);
}

.borber_inner {
    justify-content: center;
    border-radius: 8px;
    border: 1px solid rgba(38, 60, 73, 0.2);
    width: 100%;
    min-height: 131px;

    display: flex;
    flex-direction: column;
}

.box-info_position {
    margin-left: 25%;
}

.box-info img {
    position: absolute;
    color: #4F5D66;
    left: 0px;
    /* width: 23%; */
}

.box-info_color_size {
    margin-bottom: 8px;
}

.box-info_color_size p{
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    color: #263C49;
}

.box-info_color_size2 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #4F5D66;
}

/* </block1> */

/* blok2 */
.block2 {
    background: url(../img/bg_block2.png) center top / cover;
    width: 100%;
    min-height: 912px;
    color: #4F5D66;
}

.block2 a {
    color: #4F5D66;
}

.block2__item {
    margin-bottom: 36px;
}

.block2__item h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 58px;
    color: #263C49;
    margin-bottom: 5px;
}

.block2__item p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}

.block2__content {
    padding-top: 100px;
    
}

.block2__column {
    display: flex;

}

.main_box {
    position: relative;
    display: flex;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 5px 15px rgba(0, 121, 175, 0.15);
    transition: .3s;
}

.border_box {
    border-radius: 8px;
    border: 1px solid rgba(38, 60, 73, 0.2);
    padding-left: 10%;
    flex: 1;
}

.border_box p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.flex_center {
    display: flex;
    align-items: center;
}

.box_size_s {
    width: 100%;
    min-height: 84px;
    margin-bottom: 20px;
}

.box_size_s img {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 25%;
}

.box_column {
    width: 19%;
}

.box_size_l {
    max-width: 1029px;
    width: auto;
    height: max-content;
    margin-left: 30px;
}

.main_box_hover:hover {
    transition: .6s;
    background: rgb(178, 231, 255);   
}

.main_box_hover.active {
    transition: .6s;
    background: #0077AF;
    
}

.main_box_hover.active .border_box{
    transition: .1s;
    border: 1px solid white;
    color: white;
}

.tab_content .border_box {
    padding: 30px;
}

.tab_content .border_box img {
    width: 35%;
    min-height: 159px;
    margin-right: 25px;
    object-fit: cover;
    border-radius: 8px;
}

.tab_content .img_check img {
    width: 18px;
    height: fit-content;
    min-height: 18px;
    top: 5px;
    position: relative;
    margin-right: 0;
}

.tab_content .custom_btn {
    margin-left: 0;
    margin-top: 20px;
}

.tab_content p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.size p {
    font-size: 24px;
    line-height: 35px;
    color: #263C49;
}

.m_b_15 {
    margin-bottom: 15px;
}

.m_b_10 {
    margin-bottom: 10px;
}

.color_red_border {
    color: #FF1708;
    border-bottom: 2px dashed #FF1708;
}

.color_red {
    color: #FF1708;
}

/*  <drop dawn> */

.block2_drop_dawn {
    display: none;
}
.drop_dawn_box_size {
    width: 100%;
    height: max-content;
    display: none;
    margin-bottom: 30px;
}

.block2_drop_dawn .custom_btn {
    margin: 20px 0 0 0;
}

.block2_drop_dawn .border_box {
    padding: 30px;
}

.block2_drop_dawn .main_box_hover img {
    width: 56px;
}

.block2_drop_dawn .border_box p {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}

.block2_drop_dawn .size p {
    font-size: 24px;
    line-height: 35px;
    color: #263C49;
    margin: 0;
}
/* </drop dawn> */


/* blok2 */


/* block3 */
.block3 {
    background: url(../img/bg_block3.jpg) center top / cover;
    width: 100%;
    min-height: 772px;
    color: white;
}

.block3__content {
    padding: 166px 0;
}

.block3__item {}

.block3__item h2 {
    font-weight: 400;
    font-size: 44px;
    line-height: 58px;
}

.block3__item .custom_btn {
    width: auto;
    margin: 0;
    padding: 0 15px;
}

.btn_center {
    margin: 40px 0 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.block3__column {
    display: flex;
    flex-wrap: wrap;
}

.box_block3 {
    border-radius: 8px;
    width: 246px;
    min-height: 251px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
    background: white;
    margin: 33px auto 0 auto;
}

.box_block3 img {
    border-radius: 8px 8px 0 0;
    height: auto;
    width: 100%;
    /* object-fit: cover; */
}

.bax_bg_p {
    color: #263C49;
    margin-top: 14px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.block3__item_swiper {
    flex-wrap: wrap;
    display: none;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: white;
}
/* block3 */

/* block4 */
.block4 {
    background: url(../img/bg_block4.png) center top / cover;
    background-color: #F5F9FC;
    width: 100%;
    min-height: 895px;
    color: #263C49;
}

.block4__content {
    padding-top: 150px;
    display: flex;
    margin: auto;
}

.block4__content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
}


.block4__item {
    
}


.block4__item h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 79px;
}

.forma {
    width: 430px;
    height: auto;
    padding: 10px;

    background: #FBFDFF;
    box-shadow: 0px 5px 15px rgba(0, 121, 175, 0.15);
    border-radius: 8px;
    display: flex;
}

.borber_inner_forma {
    padding: 30px 0 20px 0;
    border-radius: 8px;
    border: 1px solid rgba(38, 60, 73, 0.2);
    flex: 1;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.borber_inner_forma input {
    height: 65px;
    margin-top: 31px;
}

.borber_inner_forma .custom_btn {
    margin: 0;
    margin-top: 30px;
}

.borber_inner_forma input[type=text],
.borber_inner_forma input[type=tel],
.borber_inner_forma input[type=email] {
    padding-left: 20px;
}
textarea {
    margin-top: 30px;
    width: 337px;
    height: 91px;
    box-sizing: border-box;
    background: #F2F5F8;
    border: 0;
    border-radius: 8px;
    resize: none;

    padding: 20px;
    font-size: 16px;
    line-height: 121.3%;
    letter-spacing: 0.05em;
    color: #A1AFB8;
    font-family: 'FFNort';
    font-weight: 300;
}

.checkbox_font a{
    font-weight: 200;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #B6B6B6;

    height: max-content;
}

.checkbox_font a:hover{
    color: #8d8d8d;
}

.checkbox .imput_checkbox {
    margin: 0 8px 0 0;
    height: auto;
}

input[type=checkbox]{
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
}


/*  */
.container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: rgb(158, 158, 158, 0);
    border: 1px solid #FF1708;
  }
  

  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark::after {
    display: block;
  }
  
  .container .checkmark::after {
    left: 4px;
    top: 0px;
    width: 6px;
    height: 10px;
    border: solid #FF1708;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/*  */

.color_red_inline_border {
    color: #FF1708;
    border-bottom: 1px solid #FF1708;
}

.block4_border_box {
    border-top: 1px dashed #B7D9FF ;
    border-bottom: 1px dashed #B7D9FF ;
    border-left: 1px dashed #B7D9FF ;
    border-radius: 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 329.25px;
    margin-left: -40px;

    padding: 20px 40px;
}

.block4_border_box span {
    font-size: 80px;
    line-height: 58px;
    color: #E3EEF4;
    margin-right: 24px;
}

.width_size_font p {
    max-width: 350px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4F5D66;

    margin-top: 8px;
}

.display_flex {
    display: flex;
}

.display_none {
    display: block;
}

.border_box_position {
    margin: 10px auto 10px 0;
    height: max-content;
}
/* block4 */

/* <block5> */
.block5 {
    background: url(../img/bg_block5.jpg) center top / cover;
    width: 100%;
    min-height: 703px;
    color: white;
}
.block5__content {
    padding: 54px 0 50px 0;
}
.block5__item {}

.block5__item h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 55px;
    color: #263C49;
}
.block5__column {
    display: flex;
    flex-wrap: wrap;
}


.block5__content .box-info_color_size {
    display: flex;
}

.block5__content .box-info_position {
    margin-left: 30px;
}

.block5__content .box-info {
    width: 30%;
    margin: 39px auto 0 0;
}

.dash {
    position: relative;
    width: 25px;
    height: 2px;
    top: 13px;
    margin-right: 16px;
    background: #0077AF;
}
/* </block5> */

/*  */
.block6 {
    background: url(../img/bg_block6.jpg) center top / cover;
    width: 100%;
    min-height: 886px;
    color: white;
}

.block6__content {
    padding: 185px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.block6__item{

}

.block6__item h2 {
    font-weight: 300;
    font-size: 44px;
    line-height: 55px;
}

.block6_font_size {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
}

.block6__item .borber_inner_forma {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #263C49;
}

.block6__column {
    
}

.block6__column .box-info {
    position: relative;
    top: 50px;
    left: 33%;
    width: 402px;
    
    background: rgba(252, 252, 252, .85);
    box-shadow: 0px 5px 15px rgba(0, 121, 175, 0.15);
    border-radius: 8px;
}

.block6__column .borber_inner{
    border: 1px solid rgb(255, 255, 255);
}

.block6__column .box-info_position {
    margin: 0 0 0 20px;
}

.block6__column .box-info_color_size2 p {
    font-size: 21px;
    line-height: 30px;
    color: #263C49;
    font-weight: 300;
}

.block6__column  .box-info img {
    position: initial;
    height: 16px;
    width: 16px;
    margin-top: 7px;
}


/*  */
