@media (min-width: 1600px) {
	.box-container {
        max-width: 1350px;
    }
}

/*==========  Desktop First Method  ==========*/
@media (max-width: 1390px) {
    .box-container {
        max-width: 1200px;
    }

    .block3__content {
        padding: 230px 0;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .box-container {
        max-width: 992px;
        padding: 0 20px;
    }

    .header_item li {
        font-size: 14px;
        line-height: 11px;
        margin-right: 10px;

        margin-right: 5px;
    }

    .m-r-10 {
        margin-right: 5px;
    }

    .blok1_item h1 {
        text-shadow: 1px 0 0px #4F5D66, 
                    0 1px 0px #4F5D66, 
                    -1px 0 0px #4F5D66, 
                    0 -1px 0px #4F5D66;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/* .box-container {
        max-width: 768px;
    } */

    .item a {
        font-size: 14px;
        font-weight: 300;
        border-bottom: 1px solid white;
    }
    
    .item_font-right {
        font-size: 14px;
        text-align: right;
    }

    .header_item ul {
        display: none;
    }

    .blok1__content {
        padding-top: 130px;
    }

    .box-info_color_size p{
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        color: #263C49;
    }
    
    .box-info_color_size2 p {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #4F5D66;
    }

    .box-info img {
        width: 23%;
    }

    .border_box p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    .size p {
        font-size: 24px;
        line-height: 35px;
        color: #263C49;
    }

    .block3__content {
        padding: 30px 0;
    }

    .block3__item h2 {
        font-weight: 400;
        font-size: 44px;
        color: #2262AA;;
        line-height: 58px;
        text-shadow: 1px 0 0px white,
                     0 1px 0px white,
                    1px 0 0px white,
                    0 1px 0px white;
    }

    .block4__content {
        flex-direction: column;
        align-items: center;
    }

    .block4_border_box {
        width: auto;
        min-height: 329.25px;
        margin-left: 0;
        padding: 20px 40px;
    }
    .border_box_position {
        margin: 10px 0 10px 0;
        height: max-content;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header {
        width: 100%;
        padding: 15px 0;
    }

    .header_item .inline p {
        display: none;
    }

    header img {
        width: 180px;
    }

    /* <burger menu> */
    .wrapper {
        display: block;
        background: rgba(38, 60, 73, 0.2);
    }
    .menuToggle{
        display: block;
    }
    .menu{
        display: none;
        width: 100%;
        padding-left: 10px;
        background: rgba(38, 60, 73, 0.98);
        transition: 0.5s;
    }

    .menu_scrolled {
        background: rgba(38, 60, 73, 0.0);
    }

    .menu li{
        display: block;
    }

    .menu li a{
        display: block;
        border-bottom: 1px solid white;
    }

    .menu a:hover {
        color: rgb(238, 238, 238);
    }
    /* </burger menu> */

    .forma_min {
        width: 50%;
        flex-direction: column;
    }

    .custom_btn {
        margin: 10px 0 0 0;
    }

    .input {
        width: 254px;
        min-height: 52px;
    }

    .blok1_item h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 55px;
    }
    
    .blok1_item p {
        font-weight: normal;
        font-size: 25px;
        line-height: 33px;
    }

    .box-info_color_size p{
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        color: #263C49;
    }
    
    .box-info_color_size2 p {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #4F5D66;
    }

    .jcsb {
        flex-wrap: wrap;
    }

    .box-info_position {
        margin-left: 15%;
    }

    .tabs {
        display: inline-flex;
    }

    .block2__column {
        display: none;
    }
    .block2__content {
        padding-top: 20px;
    }

    .block2__item h2 {
        font-size: 40px;
        line-height: 58px;
    }
    
    .block2__item p {
        font-size: 16px;
        line-height: 25px;
    }

    .block2_drop_dawn {
        display: block;
    }

    .block2_drop_dawn .border_box p {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }
    
    .block2_drop_dawn .size p {
        font-size: 20px;
        line-height: 25px;
        color: #263C49;
        margin: 0;
    }

    .block2 {
        min-height: 0;
    }

    .box_block3 {
        box-shadow: 0px 5px 15px rgba(0, 121, 175, 0.15);
    }



    textarea {
        width: 80%;
    }

    .forma {
        width: auto;
        height: 598px;
        padding: 10px;
        background: #FBFDFF;
        box-shadow: 0px 5px 15px rgb(0 121 175 / 15%);
        border-radius: 8px;
        display: flex;
    }

    .block4__content {
        padding-top: 50px;
    }
}

@media only screen and (max-width : 550px) {

   .item_font-right {
       display: none;
   }

   .blok1_item h1 {
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
    }

    .blok1_item p {
        font-weight: normal;
        font-size: 20px;
        line-height: 33px;
    }

    .jcsb {
        flex-direction: column;
        align-items: center;
    }


    .box-info img {
        width: 17%;
    }

    .box-info_position {
        margin-left: 25%;
    }

    .box-info {
        width: 90%;
        min-height: max-content;

        margin-top: 10px;
    }

    .box-info_color_size p{
        font-weight: 500;
        font-size: 25px;
        line-height: 27px;
        color: #263C49;
    }
    
    .box-info_color_size2 p {
        font-weight: 300;
        font-size: 16px;
        line-height: 17px;
        color: #4F5D66;
    }

    .block3 {
        min-height: 0;
    }

    .block3__item_swiper {
        display: flex;
    }

    .block3__column {
        display: none;
    }

    .swiper-wrapper {
        margin-bottom: 30px;
    }

    .block3__item h2 {
        font-weight: 400;
        font-size: 40px;
        color: white;
        line-height: 44px;
        text-shadow: 1px 0 1px #4f5d66,
                     0 1px 1px #4f5d66,
                    1px 0 1px #4f5d66,
                    0 1px 1px #4f5d66;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .header_item .inline:first-child {
        display: block; 
    }

    .header_item p {
        margin: 0;
    }

    .forma_min {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .blok1_item h1 {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
    }

    .box-info img {
        width: 20%;
    }

    .display_none {
        display: none;
    }

    .block2__item h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .block3__content {
        padding: 50px 0;
    }

    .block3__item h2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
    }

    .block4__item h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 79px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    /* .box-container {
        max-width: 310px;
    } */

    .custom_btn {
        margin-top: 10px;
        width: 80%;
        padding: 10px 0px;
    }

    .input {
        width: 80%;
        /* min-height: 52px; */
    }
    
    .blok1_item p {
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
    }

    .box-info_color_size p{
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: #263C49;
    }
    
    .box-info_color_size2 p {
        font-weight: 300;
        font-size: 16px;
        line-height: 17px;
        color: #4F5D66;
    }
}