@media (min-width: 1600px) {
	.box-container {
        max-width: 1350px;
    }
}

/*==========  Desktop First Method  ==========*/
@media (max-width: 1390px) {
    .box-container {
        max-width: 1200px;
    }

    .block3__content {
        padding: 230px 0;
    }
    .block6__column .box-info {
        top:30px;
        left: 23%;
        width: 402px;
    }
    .block6__content {
        padding: 150px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .box-container {
        max-width: 992px;
        padding: 0 20px;
    }

    .header_item li {
        font-size: 14px;
        line-height: 11px;
    }
    .header_item li .animation_border {
        margin-right: 6px;
    }

    .m-r-10 {
        margin-right: 5px;
    }

    .blok1_item h1 {
        text-shadow: 1px 0 0px #4F5D66, 
                    0 1px 0px #4F5D66, 
                    -1px 0 0px #4F5D66, 
                    0 -1px 0px #4F5D66;
    }

    .block6__column .box-info {
        left: 13%;
        width: 402px;
    }

    .display_none1 {
        display: none;
    }

    .text_container {
        max-width: 576px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/* .box-container {
        max-width: 768px;
    } */

    .item a {
        font-size: 14px;
        font-weight: 300;
        border-bottom: 1px solid white;
    }
    
    .item_font-right {
        font-size: 14px;
        text-align: right;
    }

    .header_item ul {
        display: none;
    }

    .blok1__content {
        padding-top: 130px;
    }

    .box-info_color_size p{
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        color: #263C49;
    }
    
    .box-info_color_size2 p {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #4F5D66;
    }

    .box-info img {
        width: 23%;
    }

    .border_box p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    .size p {
        font-size: 24px;
        line-height: 35px;
        color: #263C49;
    }

    .block3__content {
        padding: 30px 0;
    }

    .block3__item h2 {
        font-weight: 400;
        font-size: 44px;
        color: #2262AA;;
        line-height: 58px;
        text-shadow: 1px 0 0px white,
                     0 1px 0px white,
                    1px 0 0px white,
                    0 1px 0px white;
    }

    .block4__content {
        flex-direction: column;
        align-items: center;
    }

    .block4_border_box {
        width: auto;
        min-height: 329.25px;
        margin-left: 0;
        padding: 20px 40px;
    }
    .border_box_position {
        margin: 10px 0 10px 0;
        height: max-content;
    }

    .block5 {
        background: url(../img/bg_block5.jpg) center top / cover;
        width: 100%;
        min-height: max-content;
        color: white;
    }

    .block5__item h2 .display_none {
        display: none;
    }

    .block6__content {
        padding: 185px 0 0 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .block6__column .box-info {
        position: initial;
        width: 402px;
        margin: 30px auto 30px auto;
        
        background: rgba(252, 252, 252, .85);
        box-shadow: 0px 5px 15px rgba(0, 121, 175, 0.15);
        border-radius: 8px;
    }
    .text_container {
        max-width: 476px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header {
        width: 100%;
        padding: 15px 0;
    }

    .header_item .header_item_size{
        display: none;
    }

    header img {
        width: 180px;
    }

    /* <burger menu> */
    .wrapper {
        display: block;
        background: rgba(38, 60, 73, 0.2);
    }
    .menuToggle{
        display: block;
    }
    .menu{
        display: none;
        width: 100%;
        padding-left: 10px;
        background: #2262AA;
        transition: 0.5s;
    }

    .menu_scrolled {
        background: #2262AA;
    }

    .menu li{
        display: block;
    }

    .menu li a{
        display: block;
        border-bottom: 1px solid white;
    }

    .menu a:hover {
        color: rgb(238, 238, 238);
    }
    /* </burger menu> */

    .forma_min {
        width: 50%;
        flex-direction: column;
    }

    .box-shadow {
        margin: 10px 0 0 0;
    }

    .input {
        width: 254px;
        min-height: 52px;
    }

    .blok1_item h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 55px;
    }
    
    .blok1_item p {
        font-weight: normal;
        font-size: 25px;
        line-height: 33px;
    }

    .box-info_color_size p{
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        color: #263C49;
    }
    
    .box-info_color_size2 p {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #4F5D66;
    }

    .jcsb {
        flex-wrap: wrap;
    }

    .box-info_position {
        margin-left: 15%;
    }

    .tabs {
        display: inline-flex;
    }

    .block2__column {
        display: none;
    }
    .block2__content {
        padding-top: 20px;
    }

    .block2__item h2 {
        font-size: 40px;
        line-height: 58px;
    }
    
    .block2__item p {
        font-size: 16px;
        line-height: 25px;
    }

    .block2_drop_dawn {
        display: block;
    }

    .block2_drop_dawn .border_box p {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }
    
    .block2_drop_dawn .size p {
        font-size: 20px;
        line-height: 25px;
        color: #263C49;
        margin: 0;
    }

    .block2 {
        min-height: 0;
    }

    .box_block3 {
        box-shadow: 0px 5px 15px rgba(0, 121, 175, 0.15);
    }



    textarea {
        width: 80%;
    }

    .forma {
        width: auto;
        height: auto;
        padding: 10px;
        background: #FBFDFF;
        box-shadow: 0px 5px 15px rgb(0 121 175 / 15%);
        border-radius: 8px;
        display: flex;
    }

    .block4__content {
        padding-top: 50px;
    }

    .block5__content .box-info {
        width: 40%;
        margin: 39px auto 0 auto;
    }

    .block7__item_swiper {
        display: block;
    }

    .block7__column {
        display: none;
    }
    .fone_box .custom_btn {
        margin: 20px 0 0 0;
        padding: 10px;
    }

    .swiper-button-next, 
    .swiper-button-prev {
        background-image: none;
    }

    .border_img {
        max-width: 100px;
        max-height: 100px;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quote img {
        display: none;
    }

    .quote {
        position:initial;
    }

    .slider_footer_content {
        position:initial;
    }

    .box_size_slider {
        position:initial;
    }

    .display_none1 {
        display: block;
    }

    .block9__item {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .box_news_large {
        margin-bottom: 30px;
    }

    .footer_content li a,
    .footer_content p {
        font-size: 14px;
    }

    .slider__box {
        margin-bottom: 30px;
    }

    .comment {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .about-company_inline {
        display: flex;
        /* justify-content: center; */
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-company__img_box {
        width: 55%;
        height: auto;
        margin-left: 0;
        margin-bottom: 10px;
    }


    .about-company__item h2 {
        font-weight: 500;
        font-size: 35px;
        line-height: 40px;
    }

    .partner__item h2 {
        font-weight: 500;
        font-size: 35px;
        line-height: 40px;
    }

    .partner {
        padding: 10px 0;
    }

    .block8__content {
        padding: 120px 0 20px 0;
    }

    .breadcrumb {
        padding-top: 90px;
    }

    .last_news__item h2 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media only screen and (max-width : 550px) {

   .item_font-right {
       display: none;
   }

   .blok1_item h1 {
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
    }

    .blok1_item p {
        font-weight: normal;
        font-size: 20px;
        line-height: 33px;
    }

    .jcsb {
        flex-direction: column;
        align-items: center;
    }


    .box-info img {
        width: 17%;
    }

    .box-info_position {
        margin-left: 25%;
    }

    .box-info {
        width: 90%;
        min-height: max-content;

        margin-top: 10px;
    }

    .box-info_color_size p{
        font-weight: 500;
        font-size: 25px;
        line-height: 27px;
        color: #263C49;
    }
    
    .box-info_color_size2 p {
        font-weight: 300;
        font-size: 16px;
        line-height: 17px;
        color: #4F5D66;
    }

    .block3 {
        min-height: 0;
    }

    .block3__item_swiper {
        display: flex;
    }

    .block3__column {
        display: none;
    }

    .swiper-wrapper {
        margin-bottom: 30px;
    }

    .block3__item h2 {
        font-weight: 400;
        font-size: 40px;
        color: white;
        line-height: 44px;
        text-shadow: 1px 0 1px #4f5d66,
                     0 1px 1px #4f5d66,
                    1px 0 1px #4f5d66,
                    0 1px 1px #4f5d66;
    }

    .block5__item h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        color: #263C49;
    }

    .block5__content .box-info {
        width: 100%;
        margin: 39px auto 0 auto;
    }

    .block6__item h2 {
        font-weight: 300;
        font-size: 30px;
        line-height: 45px;
        text-shadow: 1px 0 1px #4f5d66,
                     0 1px 1px #4f5d66,
                    1px 0 1px #4f5d66,
                    0 1px 1px #4f5d66;
    }

    .block7__item h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
    }

    .block8__item h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .block9__item h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        color: #263C49;
    }

    .title a {
        font-size: 20px;
        line-height: 25px;
    }

    .title1 a {
        font-size: 20px;
        line-height: 25px;
    }

    .btn_center {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footer_top {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .links {
        margin: 20px 0 0 0;
    }
    .footer_bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .slider__box {
        margin-bottom: 0;
    }

    .about-company__item h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
    }

    .about-company__content {
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        font-weight: 300;
    }

    .partner__item h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
    }

    .last_news__item h2 {
        font-size: 30px;
        line-height: 40px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .header_item .inline:first-child {
        display: block; 
    }

    .header_item p {
        margin: 0;
    }

    .forma_min {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .blok1_item h1 {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
    }

    .box-info img {
        width: 20%;
    }

    .display_none {
        display: none;
    }

    .block2__item h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .block3__content {
        padding: 50px 0;
    }

    .block3__item h2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
    }

    .block4__item h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 79px;
    }

    .display_none {
        display: none;
    }

    .borber_inner_forma .box-shadow {
        margin: 0;
        margin-top: 30px;
        font-size: 14px;
    }
    .checkbox {
        padding: 0 20px;
    }

    .block6__column .box-info {
        position: initial;
        width: auto;
        margin: 30px auto 30px auto;
        background: rgba(252, 252, 252, .85);
        box-shadow: 0px 5px 15px rgb(0 121 175 / 15%);
        border-radius: 8px;
    }

    .block6__column .borber_inner {
        border: 1px solid rgb(255, 255, 255);
        padding: 20px 0;
    }

    .block6__content {
        padding: 20px 0 20px 0;
    }

    .fone_box .custom_btn {
        margin: 40px auto 0 auto;
    }
    .fone_box {
        padding: 20px;
    }

    .block8__item .custom_btn {
        font-size: 14px;
    }

    .block8__content {
        padding: 154px 0 68px 0;
    }

    .about-company__img_box {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    /* .box-container {
        max-width: 310px;
    } */

    /* .custom_btn {
        margin-top: 10px;
        padding: 10px;
    } */

    .input {
        width: 80%;
        /* min-height: 52px; */
    }
    
    .blok1_item p {
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
    }

    .box-info_color_size p{
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: #263C49;
    }
    
    .box-info_color_size2 p {
        font-weight: 300;
        font-size: 16px;
        line-height: 17px;
        color: #4F5D66;
    }

    .about-company__item h2 {
        font-weight: 500;
        font-size: 27px;
        line-height: 40px;
    }
}